@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";

.section {
  padding: 57px 0 45px;
  background-color: $lll-gray;
}

.title {
  text-align: center;
}

.slide {
  padding: 22px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 5px 13px rgba($color: #000000, $alpha: 0.1);
  transition: box-shadow $as $ae;
  cursor: pointer;

  &:hover {
    transition: box-shadow $as $ae;
    box-shadow: 0 15px 13px rgba($color: #000000, $alpha: 0.1);
  }
}

.img {
  border-radius: 10px;
  margin-right: 16px;
}

.review {
  margin-top: 20px;
}

.swiper_pagination_bullet {
  display: inline-block;
  margin: 0 8px;
  position: relative;
  width: 8px;
  height: 8px;
  background-color: $l-gray;
  border-radius: 5px;
  cursor: pointer;

  &_active {
    background-color: $blue;
  }
}

.swiper_nav {
  position: absolute;
  top: 40%;
  color: $d-blue;
  cursor: pointer;
  transition: all $as $ae;
  background-color: transparent;
  border: none;
  z-index: 10;

  &:hover {
    color: $blue;
  }

  &_disabled,
  &_disabled:hover {
    color: $l-gray;
    cursor: not-allowed;
  }
}

.swiper_nav_right {
  right: 0;
}

.swiper_nav_left {
  left: 0;
  transform: rotate(-180deg);
}

@include media("ml") {
  .section {
    padding: 33px 0;
  }

  .swiper {
    margin: 8px 0 0 !important;
    padding: 24px 0 58px !important;
  }

  .swiper_nav {
    display: none;
  }
}

@include media("mm") {
  .section {
    padding: 27px 0;
  }

  .swiper {
    margin: 2px 0 0 !important;
    padding: 24px 0 48px !important;
  }

  .slide {
    height: unset !important;
  }
}
