@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";

.section {
  padding: 80px 0 50px;
}

.title {
  text-align: center;
}

.wr {
  margin: 44px auto 0;
  max-width: 800px;
}

.item {
  flex-basis: calc((100% - 41px) / 2);
  margin-bottom: 30px;
}

@include media('ml') {
  .section {
    padding: 56px 0 36px;
  }
}


@include media('mm') {
  .item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
