@import "../../../assets/scss/vars";
@import "../../../assets/scss/mixins";

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  letter-spacing: 0em;
  margin: 0;
}

h1,
.h1 {
  font-size: 52px;
  line-height: 1.23;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: 32px;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.33;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 1.5;
}

@include media("ml") {
  h1,
  .h1 {
    font-size: 32px;
    line-height: 1.25;
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: 1.2;
  }
}

@include media("ms") {
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 24px;
    line-height: 1.33;
  }
}
